/* variable css */
:root {
    /* --background-color: #ffffff; */
    --black-blue: #1B262C;
    --navy-blue: #0F4C75;
    --blue: #3282B8;
    --light-blue: #BBE1FA;
    --sonic-silver: hsl(0, 0%, 44%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/* Reset all web parameters */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

/* ---- navigation bar logo ---- */
.logo label {
    color: #ffffff;
}

.alpha-inks {
    color: #00ffff;
    /* color: var(--ocean-green); */
}

.logo label {
    font-size: 30px;
    font-weight: 500;
}

/* ---- navigation bar links ---- */
.nav-links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 20px;
}

.nav-links li {
    display: block;
    margin: auto 10px;
}

.nav-links li a{
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    transition: 500ms;
}

.nav-links li a:hover {
    background-color: var(--white);
    color: var(--black);
    padding: 5px 20px;
    border-radius: 20px;
}

/* ---- navigation bar buttons ---- */
.nav-actions {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    transition: 500ms;
}

.nav-actions button {
    border: 0px solid transparent;
    background-color: transparent;
}

.nav-btn {
    position: relative;
    width: 50px;
    text-align: center;
}

.nav-actions button p {
    color: #606060;
    transition: 500ms;
}

.nav-btn:hover > .nav-action-label {
    color: var(--white);
}

.nav-btn .icon {
    margin-inline: auto;
    font-size: 22px;
    margin-bottom: 3px;
    color: var(--black);
    -webkit-text-stroke: var(--white);
    -webkit-text-stroke-width: 1px;
}

.nav-btn .btn-badge {
    position: absolute;
    top: -5px;
    right: 0;
    background: var(--background, var(--eerie-black));
    background: var(--black);
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--white);
    border: 0.5px solid var(--white);
    border-radius: 50%;
    transition: 200ms;
}

.nav-btn:hover > .btn-badge {
    background-color: var(--white);
    color: var(--black);
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

.line-full {
    border: 1px solid var(--black);
    width: 20px;
    height: 0px;
    margin: 5px;
}

.line-half {
    border: 1px solid var(--black);
    width: 10px;
    height: 0px;
    margin: 5px;
}

#home {
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    background: url("../img/background-drinks.png");
    background-size: cover;
    background-position: right;
}

/* ---- Main Cover Page ---- */

main {
    margin: 10%;
    color: var(--white);
}

main h2 {
    font-size: 30px;
}

main h1 {
    font-size: 96px;
    color: var(--black);
    -webkit-text-stroke-color: var(--white);
    -webkit-text-stroke-width: 1px;
}

main p {
    letter-spacing: 2px;
}

/* ---- About Us Section ---- */
#about-us {
    height: 80vh;
    background-color: var(--navy-blue);
}





/* ---- Footer CSS ---- */
footer {
    padding: 20px;
    height: 20vh;
    background-color: var(--black-blue);
}

footer p {
    color: var(--white);
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    header {
        background-color: var(--white);
    }

    .logo label {
        color: var(--black);
    }

    .alpha-inks {
        color: var(--navy-blue);
    }

    .nav-actions {
        background-color: var(--white);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding-block: 16px 10px;
        box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
        z-index: 1;
    }

    .nav-lines {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: var(--black-blue);
        transform: 200ms;
        overflow: hidden;
        transition: 200ms;
        /* opacity: 0%; */
    }

    .nav-links.active {
        height: 30%;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
    }

    .nav-btn .icon {
        margin-inline: auto;
        font-size: 22px;
        margin-bottom: 3px;
        color: #ffffff;
        -webkit-text-stroke: var(--black);
        -webkit-text-stroke-width: 1px;
    }

    main h2 {
        font-size: 5vw;
    }

    main h1 {
        display: block;
        bottom: 30%;
        font-size: 15vw;
    }

    main p {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    #home {
        height: 100vh;
        width: 100%;
        background-color: var(--black);
        background: url("../img/background-drinks.png");
        background-size: cover;
        background-position:500px;
    }
    
    main p {
        font-size: 4vw;
    }

    footer p {
        font-size: 4vw;
    }

    footer p i {
        color: #ff0000;
        margin: 5px;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: #1B262C;
    border-radius: 10px;
}
